<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>278926696521-no9fhkv0hujifeomud66lbrmt47arij0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.278926696521-no9fhkv0hujifeomud66lbrmt47arij0</string>
	<key>API_KEY</key>
	<string>AIzaSyCKbEXHQ2p6UaIXf_K33BEzqmAQJJXRV1k</string>
	<key>GCM_SENDER_ID</key>
	<string>278926696521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.servePath</string>
	<key>PROJECT_ID</key>
	<string>servepath-acfe2</string>
	<key>STORAGE_BUCKET</key>
	<string>servepath-acfe2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278926696521:ios:e12e5fefcf1a8eda40df98</string>
</dict>
</plist>